<nav class="navbar navbar-light bg-dark">
    <a class="navbar-brand" href="#" style="color:burlywood">  ASSET Bank Pvt.Ltd</a>
    <span class="quote text-light"> Giving You Freedom....</span>
</nav>
<p>{{aim}}</p>

<div class="container col-md-12 mt-0">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>Sign In</h3>

            </div>
            <div class="card-body ">
                <form action=""[formGroup]="loginForm" (ngSubmit)="login()">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control" name="acno" formControlName="acno" placeholder="Account Number">
                        
                    </div>
                    <div *ngIf="(this.loginForm.get('acno')?.touched||this.loginForm.get('acno')?.dirty)&&this.loginForm.get('acno')?.errors" class="error">Invalid AccountNumber</div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" class="form-control" name="pswd" formControlName="pswd" placeholder="Password">
                        
                    </div>
                    <div *ngIf="(this.loginForm.get('pswd')?.touched||this.loginForm.get('pswd')?.dirty)&&this.loginForm.get('pswd')?.errors" class="error">Invalid Password</div>
                    <div>
                        <input type="submit" value="Login"  class="btn btn-center">
                    </div>

                </form>

            </div>
            <p>Not a User? <a routerLink="register">Register</a></p>
        </div>
    </div>

</div>